<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Databinding Final Assignment</h1>
      <br />
      <button class="btn btn-primary" (click)="changeDisplay()">
        Display Details
      </button>

      <span *ngIf="displayOn" [ngStyle]="{ paddingLeft: '20px' }">{{
        secretPassword
      }}</span>
      <br /><br />
      <p
        *ngFor="let item of items; let i = index"
        [ngClass]="{ white: i > 4 }"
        [ngStyle]="{ backgroundColor: i > 4 ? 'blue' : transparent }"
      >
        {{ i }}: {{ item }}
      </p>
    </div>
  </div>
  <div class="container">
    <app-cars></app-cars>
  </div>
</div>
